@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.input_box {
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    box-shadow: 5px 5px 10px #afafaf,
        -5px -5px 10px #ffffff;
    transition: all;
}

.submit_button {
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    box-shadow: 5px 5px 10px #afafaf,
        -5px -5px 10px #ffffff;
}

.input_box:focus {
    outline: none;
    transition: all;
}

.submit_button:active {
    outline: none;
    background: #ffffff;
    box-shadow: 5px 5px 10px #d6d6d6,
        -5px -5px 10px #ffffff;
}

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}